@mixin gradientBackground{
  background: linear-gradient(1deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.button{
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
  transition: 0.5s;
  position: relative;
  width: 186px;
  min-height: 50px;
  font-size: 16px;
  color: white;
  text-decoration: none;            
  &--rounded{
      border-radius: 25px;
      border: none;
  }
  &--pink{
      @include gradientBackground; 
  }
  &:hover{
    filter: brightness(115%);
    box-shadow: 0px 4px 15px rgba(0,0,0,0.35);
}
}
.fa-heart {
  position: absolute;
  right: 8%;
  font-size: 2rem;
}  
.heart_solid {
  color: transparent;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  opacity: 0;
  transition: all 0.4s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart_solid:hover, .heart_solid:active {
  opacity: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article:hover .check__mark{
  margin-right: 0px;
}
.menu_entrées{
  article{
  opacity: 0;
  margin-top: 50px;
  animation-name: fading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  }
}
.menu_plats{
  article{
  opacity: 0;
  margin-top: 50px;
  animation-delay: 400ms;
  animation-name: fading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  }
}
.menu_desserts{
  article{
  opacity: 0;
  margin-top: 50px;
  animation-delay: 800ms;
  animation-name: fading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  }
}

@keyframes fading{
    from {
    opacity: 0;
    margin-top: 50px;
    }
    to {
    opacity: 1;
    margin-top: 0;
  }
}