$mainPurple:#9356DC;
.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 988;
    opacity: 1;
    display: flex;
    justify-content: center;
    animation-name: loaderEnd;
    animation-delay: 3s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    &__logo{
        position:absolute;
        width: 40%;
        top: 50%;
        opacity: 1;
        animation-name: logoHide;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    &__logo2{
        position: absolute;
        width: 40%;
        top: 50%;
        z-index: 989;
        opacity: 0;
        animation-name: logoReveal;
        animation-delay: 1.5s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}
.square {
    position: absolute;
    top: 50%;
    left: -150%;
    width: 100vh;
    height: 100vh;
    background-color: $mainPurple;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: slideRight 1.5s ease-in-out forwards;
    z-index: 990;
  }
  .square2 {
    position: absolute;
    top: 50%;
    left: -150%;
    width: 100vh;
    height: 100vh;
    background-color: white;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: slideRight 1.5s ease-in-out forwards;
    animation-delay:0.2s ;
    z-index: 991;
  }
  .square3 {
    position: absolute;
    top: 50%;
    left: -150%;
    width: 100vh;
    height: 100vh;
    background-color: $mainPurple;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: slideRight 1.5s ease-in-out forwards;
    animation-delay:0.3s ;
    z-index: 992;
}
  .square4 {
    position: absolute;
    top: 50%;
    left: -150%;
    width: 100vh;
    height: 100vh;
    background-color: white;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: slideRight 1.5s ease-in-out forwards;
    animation-delay:0.5s ;
    z-index: 993;
  }
  
  @keyframes slideRight {
    0% {
      left: -150%;
    }
    100% {
      left: 250%;
    }
  }
  @keyframes logoHide{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
  }
  @keyframes logoReveal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  @keyframes loaderEnd{
    0%{
        opacity: 1;
        z-index: 988;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        z-index: -500;
    }
  }
  @media (min-width: 768px) {
    .loader{
        &__logo{
            width: 20%;
        }
        &__logo2{
            width: 20%;
        }
    }
    .square{
        width: 200vh;
        height: 200vh;
    }
    .square2{
        width: 200vh;
        height: 200vh;
    }
    .square3{
        width: 200vh;
        height: 200vh;
    }
    .square4{
        width: 200vh;
        height: 200vh;
    }
}