.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header nav {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.header nav a {
  color: black;
}
.header nav img {
  max-height: 44px;
}
.header nav .icon {
  position: absolute;
  top: 35px;
  left: 5%;
}

.menu {
  position: relative;
  margin-bottom: -50px;
}
.menu__titleBlock {
  display: flex;
}
.menu__titleBlock .icon {
  font-size: 1.5rem;
}
.menu__titleBlock .fa-stack {
  position: relative;
  top: 8px;
}
.menu__photo {
  width: 100%;
  height: 17rem;
  object-fit: cover;
}
.menu__block {
  border-radius: 50px 50px 0 0;
  background-color: #F7F7F7;
  translate: 0px -50px;
  display: flex;
  flex-direction: column;
  padding: 40px 5% 0px 5%;
}
.menu__block h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin: 0;
  font-size: 28px;
  margin-bottom: 30px;
  padding-right: 24px;
}
.menu__block p {
  margin: 0 0 5px 0;
}
.menu__block .border {
  height: 0px;
  width: 40px;
  border: 1.5px solid #99E2D0;
  margin-bottom: 12px;
}
.menu article {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  overflow: hidden;
}
.menu article h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 500;
}
.menu article p {
  margin: 0;
  font-weight: 300;
}
.menu article .cards {
  margin: 0 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu article .cards__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.menu article .cards__details .cards__price {
  font-weight: 700;
  color: #353535;
}
.menu article .check__mark {
  width: 59px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  margin-right: -60px;
  transition: all 0.6s ease-in-out;
}
.menu .order {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.footer {
  padding: 22px 25px;
  background-color: #353535;
}
.footer img {
  filter: brightness(100);
  width: 30%;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.footer__links {
  color: white;
  text-decoration: none;
  padding-bottom: 7px;
}
.footer__links .icon {
  padding-right: 11px;
}

/* Design Responsive des restaurants */
@media (min-width: 768px) {
  .menu__titleBlock {
    justify-content: center;
  }
  .menu__block {
    margin: 0 15%;
  }
  .footer {
    align-items: flex-end;
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
  }
  .footer img {
    max-height: 25px;
    width: auto;
    padding-top: 5px;
    padding-right: 4%;
  }
  .footer__nav {
    justify-content: flex-end;
    flex-direction: row;
    width: 60%;
    padding-right: 4%;
  }
  .footer__links {
    padding-right: 4%;
  }
}/*# sourceMappingURL=restaurants.css.map */