/* General settings #######################################*/
.mainButton {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  position: relative;
  width: 218px;
  min-height: 50px;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.mainButton--rounded {
  border-radius: 25px;
  border: none;
}
.mainButton--pink {
  background: linear-gradient(1deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.mainButton:hover {
  filter: brightness(115%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

::placeholder {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-family: roboto;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

/* MobileFirst ###############################*/
body {
  margin: 0;
  font-family: Roboto;
}

.navBar {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: inset 0 8px 7px -7px rgba(0, 0, 0, 0.15);
}
.navBar__searchBar {
  min-width: 30%;
  border: none;
  background-color: #EAEAEA;
}
.navBar .fa-location-dot {
  color: #353535;
}

.intro {
  height: 287px;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #F7F7F7;
  padding: 10px 30px 30px 30px;
}
.intro p {
  font-size: 18px;
  color: #353535;
  margin: 0;
  padding-bottom: 27px;
}
.intro h1 {
  font-size: 24px;
}

.fonctionnement {
  margin: 0 20px;
}
.fonctionnement__title {
  margin-top: 48px;
  margin-bottom: 26px;
}
.fonctionnement .guide {
  flex-direction: column;
  margin-bottom: 40px;
}
.fonctionnement .guide article {
  width: 100%;
}
.fonctionnement .guide__number {
  height: 24px;
  min-width: 24px;
  border-radius: 50px;
  background-color: #9356DC;
  color: white;
  position: relative;
  left: -10px;
}
.fonctionnement .guide .fa-mobile-screen-button, .fonctionnement .guide .fa-list {
  color: #7E7E7E;
}
.fonctionnement .guide .fa-store {
  color: #9356DC;
}
.fonctionnement .guide p {
  padding-right: 10px;
}
.fonctionnement .guide__button {
  height: 72px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement .guide__button .icon {
  padding-left: 10%;
  padding-right: 5%;
}

.restaurants {
  background-color: #F7F7F7;
  padding: 50px 15px 50px 15px;
}
.restaurants h1 {
  padding-left: 5px;
}
.restaurants .results {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.restaurants .results .cards {
  height: 250px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 20px;
}
.restaurants .results .cards__image {
  height: 66%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.restaurants .results .cards img {
  width: 100%;
  top: -22%;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.restaurants .results .cards h2 {
  margin: 0;
  font-size: 18px;
  padding-bottom: 5px;
}
.restaurants .results .cards p {
  margin: 0;
  font-size: 17px;
}
.restaurants .results .cards__details {
  padding: 16px 4% 12px 4%;
  color: black;
}
.restaurants .results .cards__details .icon {
  display: flex;
  align-items: center;
}
.restaurants .results .cards__details .pos {
  position: relative;
  top: 15px;
  height: 22px;
  width: 22px;
}
.restaurants .results .cards__nouveau {
  height: 29px;
  width: 80px;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}

/* Responsive desktop *****************************************/
@media (min-width: 768px) {
  .navBar__searchBar {
    min-width: 8%;
  }
  main .intro {
    padding: 0px 20% 50px 20%;
    height: 239px;
  }
  main .intro h1 {
    font-size: 40px;
  }
  main .intro p {
    font-size: 18px;
  }
  main .fonctionnement .guide {
    flex-direction: row;
    justify-content: space-between;
  }
  main .fonctionnement .guide article {
    width: 30%;
  }
  main .fonctionnement {
    margin: 0 10%;
  }
  main .restaurants {
    padding: 50px 10%;
  }
  main .restaurants .results {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main .restaurants .results article {
    width: 45%;
    padding-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */